<ion-content>
  <div class="container">
    <div class="wrapper1">
      <div class="navbar">
        <ion-icon name="menu-outline" (click)="toggleBtn()"></ion-icon>
        <img src="../../../../assets/icon/homelogo.png" alt="">
        <ul>
          <li>
            <a routerLink="/login">Login</a>
          </li>
          <li>
            <a routerLink="/register">Register</a>
          </li>
        </ul>
      </div>

      <div class="main-area">
        <h1>Create a way you're proud of</h1>
        <p class="description">Discover the platform that gives you the content to improvise, manage your programming skills.</p>
        <div class="quote-area">
          <p class="quote">"Any fool can write a code that a computer can understand. Good programers write code that humans can understand."</p>
          <p class="author">~Martin Fowler</p>
        </div>
        <a routerLink="/login">
        <ion-button size="large">
            Get Started
          </ion-button>
        </a>
      </div>
    </div>

    <div class="wrapper2">
      <ion-card>
        <div class="contest" *ngIf="contests.length>0; else nodata">
          <ion-list class="contest_heading">
            <ion-label class="contest_heading_label">
              Platform
            </ion-label>
            <ion-label class="contest_heading_label">
              Contest
            </ion-label>
            <ion-label class="contest_heading_label">
              Starts In
            </ion-label>
          </ion-list>
          <ion-list *ngFor="let contest of contests.slice(0, 5)">
            <ion-label>
              <a routerLink="/login">
                {{contest.name}}
              </a>
            </ion-label>
            <ion-label>{{contest.site}}</ion-label>
            <ion-label>{{contest.startIn}}</ion-label>
          </ion-list>
          <a routerLink="/login" class="more">...more</a>
        </div>
        <ng-template #nodata>
          <span class="no_data">No Contest</span>
        </ng-template>
      </ion-card>
    </div>

    <div class="wrapper3">
      <ion-card>
        <ion-label class="faq_heading">FAQs</ion-label>
        <div class="faq_list">
          <div class="faq_question">
            <p class="question">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus et facilis tempora minima eius quam accusantium consequuntur deleniti corporis voluptatem vitae voluptates, magni maiores rem fugiat numquam tempore nam repellendus.</p>
            <ion-icon name="chevron-forward-outline" class="faq_icon 1"></ion-icon>
            <p class="answer">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, ratione. Vero ipsam adipisci sequi? Laboriosam consequatur quas enim vitae vero iure magni doloribus sunt totam, quisquam et facilis culpa maxime.</p>
          </div>
          <div class="faq_question">
            <p class="question">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus et facilis tempora minima eius quam accusantium consequuntur deleniti corporis voluptatem vitae voluptates, magni maiores rem fugiat numquam tempore nam repellendus.</p>
            <ion-icon name="chevron-forward-outline" class="faq_icon"></ion-icon>
            <p class="answer">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, ratione. Vero ipsam adipisci sequi? Laboriosam consequatur quas enim vitae vero iure magni doloribus sunt totam, quisquam et facilis culpa maxime.</p>
          </div>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>