ion-list{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem 0;
}

ion-label{
  width: 33%;
  text-overflow: ellipsis;
  text-align: center;
  align-self: center;
}

a{
  text-decoration: none;
}

.container{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  
  .wrapper1{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../../../../assets/home.jpg') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    
    .navbar{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0.5rem 1.5rem;

      ion-icon{
        position: absolute;
        color: #fff;
        font-size: 35px;
        top: 25px;
        left: 15px;
        opacity: 0;
      }
    
      h1{
        font-size: 1.7rem;
        margin-left: 1rem;
        color: #fff;
        font-weight: 200;
      }

      ul{
        display: flex;
        flex-direction: row;
        
        li{
          padding: 0.5rem;
          list-style: none;
          font-size: 1rem;
          font-weight: 200;

          a{
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
  }

  .main-area{
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3.5rem;
    width: 90vw;
    
    h1{
      font-size: 4rem;
      margin-bottom: 2.5rem;
      color: #fff;
      text-align: center;
    }

    p{
      color: #fff;
    }

    .description{
      font-size: 1.2rem;
      margin: 2rem 0;
      text-align: center;
    }
    
    .quote-area{
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;     
      .quote{
        font-style: italic;
        font-weight: bold;
        font-size: 0.8rem;
      }
      .author{
        align-self: flex-end;
        font-size: 0.8rem;
      }
    }

    ion-button{
      text-transform: none;
      --border-radius: 12px;
      --background: #000;
    }
  }

  .wrapper2{
    padding: 1rem 0.5rem;
    .contest{
      margin: 1rem 0.5rem;
      .contest_heading{
        background-color: #000;
        color: #fff;
        border-radius: 15px;
      }
    }
  }

  .wrapper3{
    padding: 1rem 0.5rem;
    ion-card{
      padding:1rem !important;
      .faq_heading{
        font-size: 1.5rem;
      }

      .faq_list{
        margin: 1rem 0 0 1rem !important;
        .faq_question{
          position: relative;
          padding: 0.3rem 0;
          .question{
            color: #000;
            font-size: 1rem;
            margin:0 2rem 0.5rem 0;
            font-weight: bold;
          }
          .faq_icon{
            position: absolute;
            top:5px;
            right:5px;
            font-size: 1.2rem;
            cursor: pointer;
          }
          .answer{
            transition: 0.3s ease-in;
            color: #000;
            font-size: 1rem;
            margin:0.5rem 2rem 0.5rem 0.3rem;
            display: none;
          }
          .rotate{
            transition: 0.3s ease-in;
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .container {
    .main-area{
      h1{
        font-size: 3rem;
        margin-bottom: 2rem;
      }
      .description{
        font-size: 1rem;
        margin: 2rem 0;
      }
      
      ion-button{
        font-size: 1.1rem;
        --border-radius: 12px;
      }
    }
  }
}

@media(max-width:480px) {
  .container {
    .wrapper1{
      .navbar{
        flex-direction: column;
        margin: 0.5rem 0 1rem 4rem;
  
        ion-icon{
          opacity: 1;
        }

        h1{
          font-size: 1.7rem;
          margin-left: 0;
          margin-bottom: 0.5rem;
        }
  
        ul{
          opacity: 0;
          flex-direction: column;
          padding: 0;
          margin: 0;
          
          li{
            padding: 0.5rem 0;
          }
        }
        
        .active{
          opacity: 1;
        }
      }
    }
    .main-area{
      margin-top: 0rem;
      h1{
        font-size: 2.5rem;
        margin-top: 0;
        margin-bottom: 2rem;
      }
      .description{
        font-size: 1rem;
        margin: 2rem 0;
      }
      
      ion-button{
        text-transform: none;
        font-size: 1.1rem;
        --border-radius: 12px;
      }
    }
  }
}